
/* toggle title */

.toggle_title {
	width: 100%;
	border: solid 1px #c0c0c0;
	background: #f0f0f0;
	padding: 0;
}

/* toggle link */

.toggle_title .title_cell {
	vertical-align: middle;	
}

.toggle_title .toggle_link {
	cursor: pointer;
}

/* toggle icon */

.toggle_title .icon_cell {
	vertical-align: middle;
	width: 16px;
}

.toggle_title .toggle_icon {
	width: 16px;
	height: 16px;
	margin-left: 3px;
	background-image: url('../images/minus.png');
	background-repeat: no-repeat;
	background-position: 0 0;
}
.toggle_title.is_closed .toggle_icon {
	background-image: url('../images/plus.png');
}

/* toggle box */

.toggle_box {
	margin: 5px 0 10px 0;
}
.toggle_box.is_closed {
	display: none;
}

/* hidden elements within a toggle box */

.toggle_box .hidden {
	display: none;
}